*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 1rem;
    background-color:black;
    color:white;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

a{
    color:red;
    text-decoration: none;
    font-weight: bolder;
}

h1{
    font-size: 1.2rem;
}

/* nav */

nav{
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(92, 0, 0);
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
            float: left;
            a{
                display: block;
                color: white;
                text-align: center;
                padding: 1rem 2rem;
                text-decoration: none;
            }
            a:hover{
                background-color: white;
                color:rgb(92, 0, 0);
                transition:cubic-bezier(1, 1, 1, 1) 1s;
            }
            .logo{
                display: block;
                width: 3rem;
                justify-content: center;
                align-items: center;
                margin: 0 2rem;
            }
        }
    }
}

.search-box{
    margin-right: 1rem;
    select{
        padding: .5rem;
        border-radius: .5rem;
        background-color: rgb(30, 30, 30);
        color: white;
    }
    input{
        padding: .5rem;
        border-radius: .5rem;
        background-color: rgb(30, 30, 30);
        color: white;
    }
    button{
        padding: .5rem;
        border-radius: .5rem;
        background-color: rgb(30, 30, 30);
        color: white;
    }
    button:hover{
        background-color: white;
        color:rgb(92, 0, 0);
        transition:cubic-bezier(1, 1, 1, 1) 1s;
    }
}

/* Index */

.main-logo{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    margin: 1rem;
    padding: 1rem;
}

.subforum{
    margin-top: 1rem;
}

.subforum-title{
    background-color:rgb(52, 0, 0);
    padding: .5rem;
    border-radius: .5rem;
    margin: .3rem;
}

.subforum-row{
    display: grid;
    grid-template-columns: 70% 15% 15%;
}

.subforum-column{
    padding: 1rem;
    margin: .4rem;
    border-radius: .4rem;
    background-color: rgb(30, 30, 30);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 5rem;
}

/* footer */

footer{
    .row{
        display: grid;
        grid-template-columns: 33% 34% 33%;
        .forum-stats{
            text-align: left;
            margin-left: 1rem;
        }
        .copyright{
            padding: 1rem;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(25, 25, 25);
    padding: 1rem;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}

.hide{
    display:none;
}

/* --------------------------- */
/* Post */

.table-head{
    display: flex;

    div{
        padding:.5rem;
        margin: .2rem;
        background-color:rgb(52, 0, 0);
        border-radius: .5rem;
        font-weight: bold;
    }
    .status{
        flex: 5%;
    }
    .subjects{
        flex: 70%;
    }
    .replies{
        flex: 10%;
    }
    .last-reply{
        flex: 15%;
    }
}

.table-row{
    display: flex;
    .status, .subjects, .replies, .last-reply{
        border-radius: .5rem;
        padding: .5rem;
        margin: .2rem;
        background-color:rgb(31, 31, 31);
    }

    .status{
        flex: 5%;
        font-size: 3rem;
        text-align: center;
    }
    .subjects{
        flex: 70%;
    }
    .replies{
        flex: 10%;
    }
    .last-reply{
        flex: 15%;
    }
}

/* Page numbers */
.pagination{
    padding: 2rem;
    font-size: 1rem;
    a{
        margin-inline: .5rem;
    }
}

/* Post Navigation */
.posts-nav{
    margin-block: 1rem;
    font-weight: lighter;
}

/* --------------------------- */
/* forum.html */

.head{
    display: flex;
    background-color:rgb(52, 0, 0);
    padding: 1rem;
    font-weight: bold;
    border-radius: .5rem;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    padding: 1rem;
    background-color:rgb(31, 31, 31);
    margin-top: .2rem;
    border-radius: .5rem;
    .authors img{
        max-width: 10rem;
        max-height: 20rem;
    }
    .content .comment button{
        padding: .5rem;
        border-radius: .5rem;
        background-color: rgb(30, 30, 30);
        color: white;
        cursor: pointer;
        float: right;
    }
}

.comment-area{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.comment-area textarea{
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    background-color: rgb(30, 30, 30);
    margin-block: 1rem;
    color: white;
    min-height: 10rem;
}
.comment-area input{
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(30, 30, 30);
    color: white;
    float: right;
}

.comments-container{
    margin-top: 1rem;
}